.card-content-container.open {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 20;
  overflow: hidden;
  padding: 5rem 0;
  pointer-events: none;
  margin: auto 2rem;
}

.card-content {
  pointer-events: auto;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.open .card-content {
  height: auto;
  max-width: 700px;
  overflow: hidden;
  border-radius: 15px;
}


@media only screen and (max-width: 1024px) {
  .card-content-container.open {
    padding: 8rem 0;
  }
}

@media only screen and (max-width: 768px) {
  .open .card-content {
    width: fit-content;
    pointer-events: none;
  }
}


@media only screen and (max-width: 640px) {
  .card-content-container.open {
    padding: auto 1rem;
  }

  .open .card-content {
    width: fit-content;
    pointer-events: none;
    margin-top: 50px;
  }
}
